<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <p>Enter the code you received here </p>
        {% endif %}
        <form action="{% url 'account:verify' %}" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Verify</button>
        </form>
    </div>
</body>
</html>